.select {
   width: 100%;
   position: relative;
   user-select: none;
}

.input {
   font-family: 'Raleway', sans-serif;
   font-size: 1.8rem;
   font-weight: 500;
   width: 4.3rem;
   margin-right: 2.2rem;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   background-color: transparent;
   border: none;
   cursor: pointer;
   transition: all .2s;
}

.input:focus {
   transform: translateY(-.5rem) scale(1.02);
}

.input:last-child {
   margin-left: 1rem;
}

.dropdown {
   font-size: 1.8rem;
   font-weight: 500;
   text-align: center;
}

.list {
   position: absolute;
   top: 4.5rem;
   left: -1.6rem;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   width: 11.4rem;
   height: auto;
   overflow-y: auto;
   box-shadow: 0 .4rem 3.5rem rgb(168 172 176 / 19%);
   background-color: #fff;
   z-index: 1000;
}

.item {
   height: 4.5rem;
   transition: background-color .2s ease-in;
}

.item:hover {
   transition: background-color .2s ease-in;
   background-color: #EEEEEE;
   cursor: pointer;
}

.btn {
   height: 100%;
   width: 100%;
   background: transparent;
   line-height: 4.5rem;
   border: none;
   cursor: pointer;
   font-family: 'Raleway', sans-serif;
   font-size: 1.8rem;
   font-weight: 500;
}

.btn:focus {
   background-color: #EEEEEE;
}

.arrow.active {
   transform: rotate(180deg);
}