.products {
   padding-bottom: 19rem;
}

.title {
   font-size: 4.2rem;
   line-height: 160%;
   padding-top: 8rem;
   font-weight: 400;
   text-transform: capitalize;
}

.list {
   display: grid;
   align-items: center;
   grid-template-columns: repeat(3, 1fr);
   grid-gap: 6rem;
}