.products {
   padding-bottom: 19rem;
}

.title {
   font-size: 4.2rem;
   line-height: 160%;
   padding-top: 8rem;
   font-weight: 400;
   text-transform: capitalize;
}

.list {
   display: flex;
   flex-wrap: wrap;
   gap: 6rem;
   align-items: center;
   justify-content: center;
}